.left-menu-container {
  width: 180px;
  .ant-tabs-left {
    .ant-tabs-nav {
      background: #873bf4;
      color: #ffffff;
      width: 56px;
      border-right: 1px solid #f0f0f0;
      .ant-tabs-tab {
        margin: 0;
        padding: 8px 0;
        justify-content: center;
        .left-menu-name {
          font-size: 12px;
        }
        
        &:hover {
          background: #8335f1;
          color: #ffffff;
          font-weight: 600;
          
        }

        .left-menu-icon {
          text-align: center;
          .anticon {
            margin-right: 0;
          }
        }
      }

      .ant-tabs-tab-active, .ant-tabs-tab-active:hover {
        background: #ffffff;
        color: #873bf4;
        .ant-tabs-tab-btn {
          color: #873bf4;
          text-shadow:none
        }
        .left-menu-name {
          font-weight: 600;
          font-size: 12px;
        }
        
      }
      
    }

    .ant-tabs-content-holder {
      background: #ffffff;
      .ant-tabs-tabpane {
        padding-left: 0;
      }
    }

    
    .ant-tabs-ink-bar-animated {
      width: 0;
    }
  }
}

.tab-content-box {
  height: calc(100vh - 60px);
  overflow: hidden;
  .ant-card-head {
    height: 38px;
    min-height: 38px;
    border-right: 1px solid #f0f0f0;
    .ant-card-head-title {
      padding: 8px 0;
    }
  }
  .ant-card-body {
    height: calc(100vh - 100px);
    overflow-y: scroll;
    padding: 10px;
  }
  
}

.component-item {
  height: 70px;
  border: 1px solid #ebedf0;
  overflow: hidden;
  position: relative;
  cursor: grab;
  &:hover {
    border: 1px solid #873bf4;
  }
  .component-item-img {
    height: 48px;
    img {
      width: 100%;
    }
  }
  .component-item-name {
    height: 20px;
    text-align: center;
    background-color: rgba(135,59,244,.1);
  }
}