.left-menu-container {
  width: 250px;
  .ant-tabs-left {
    .ant-tabs-nav {
      background: #396efe;
      color: #ffffff;
      width: 56px;
      border-right: 1px solid #f0f0f0;
      .ant-tabs-tab {
        margin: 0;
        padding: 8px 0;
        justify-content: center;
        .left-menu-name {
          font-size: 12px;
        }
        
        &:hover {
          background: #2a5eee;
          color: #ffffff;
          font-weight: 600;
          
        }

        .left-menu-icon {
          text-align: center;
          .anticon {
            margin-right: 0;
          }
        }
      }

      .ant-tabs-tab-active, .ant-tabs-tab-active:hover {
        background: #ffffff;
        color: #327DFF;
        .left-menu-name {
          font-weight: 600;
          font-size: 12px;
        }
        
      }
      
    }

    .ant-tabs-content-holder {
      background: #ffffff;
      .ant-tabs-tabpane {
        padding-left: 0;
      }
    }

    
    .ant-tabs-ink-bar-animated {
      width: 0;
    }
  }
}

.tab-content-box {
  height: calc(100vh - 60px);
  overflow: hidden;
  .ant-card-head {
    height: 40px;
    min-height: 40px;
    .ant-card-head-title {
      padding: 8px 0;
    }
  }
  .ant-card-body {
    height: calc(100vh - 100px);
    overflow-y: scroll;
  }
  
}



.component-item {
  height: 70px;
  border: 1px solid #f0f0f0;
  margin-bottom: 24px;
  overflow: hidden;
  cursor: grab;
  &:hover {
    border: 1px solid #d3d3d3;
  }
  .component-item-img {
    height: 40px;
    width: 100%;
  }
  .component-item-name {
    text-align: center;
  }
}